.arrow-down:after,.arrow-up:after{
 content: ' ';
 left: 3px;
 border: 8px solid transparent;
}

.arrow-down:after{
     font-family: "Glyphicons Halflings";
    content: "\e252"; 


}

.arrow-up:after{
     font-family: "Glyphicons Halflings";
    content: "\e253";
    


}

.arrow-down,.arrow-up{
 padding-right: 10px;
}


.low {
    background-color:green;
}

.medium {
    background-color:gold;
   
}

.high {
    background-color:red;
}


.choosed {
    background-color:grey;
    color: orange;
    font-weight:bold;
    font-family: "Glyphicons Halflings";
    content: "\e253";

}


.nonChoosed {
    background-color:white;
    
    

}


th,td {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 20%;
    height:30%;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}


.loading {
  margin: 50px ;
  border: 8px solid #f3f3f3;
   border-radius: 90%;
   border-top: 8px solid #3498db;
   width: 40px;
   height: 40px;
   top : 50% ;
    left : 50% ;
    position: relative ;
    z-index : 1;
    animation : spin 2s linear infinite ;
    


}

@keyframes spin {
    0% {transform : rotate(0deg);}
    0% {transform : rotate(120deg);}
    0% {transform : rotate(240deg);}
    0% {transform : rotate(360deg);}
}


.flow {
    display : none ; 

}


